[user]
    name = brownylin
    email = shlin1983@gmail.com

[core]
	editor = vim
	excludesfile = /home/brownylin/.gitignore

[alias]
	ch = checkout
	cm = commit -a
	di = diff
	re = remote
	st = status
	br = branch
	fp = format-patch
	logb = log --author=Browny
	oneline = log --pretty=oneline --since='2 days ago'
	onelog = log -p -1

[color]
	ui = auto
	diff = auto
    status = auto
    branch = auto
