[user]
    name = brownylin
    email = shlin1983@gmail.com

[core]
    editor = vim
excludesfile = /Users/brownylin/.gitignore

[alias]
  ch = checkout
  ci = commit -a
  st = status
  br = branch
  oneline = log --pretty=oneline --since='2 days ago'
  onelog = log -p -1

[color]
  status = auto
  branch = auto
  ui = auto